/****************************************************
	파일명	: common.css
	최초작성자	: 이민혁
	최초작성일	: 2024-11-23
	-------------------------------------------------
	Dec. 공통 스타일링 정의
	-------------------------------------------------
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* 공통 변수 정의 */
:root {
	/* color */
	--primary-color : #27C2CB;
	--primary-color-600 : #00ADB2;
	--secondary-color : #F2FBFC;
	--navy-12 : #124D83;
	--white : #fff;
	/* gray scale */
	--gray-05-f8 : #f8f8f8; /* bg */
	--gray-20-e4 : #e4e4e4; /* disabled */
	--gray-30-d8 : #d8d8d8; /* border */
	--gray-50-8e : #8e8e8e; /* Text-disabled */
	--gray-60-71 : #717171;
	--gray-70-55 : #555555; /* Text-body */
	--gray-80-2d : #2d2d2d; 

	/* text-color */
	--text-primary-00: #000000;
	--text-sub-33 : #333333;
	--text-third-66 : #666666;
	--text-disabled-99: #999999;

	/* point-color */
	--point-color-f7 : #F76767;
	--point-color-73 : #73D75A;
	/* txt size */
	--txt-lv1 : 50px;
	--txt-lv2 : 38px;
	--txt-lv5 : 20px;
}

/* txt align */
.txt-c {text-align: center!important;}
.txt-l {text-align: left!important;}
.txt-r {text-align: right!important;}
/* txt color */
.txt-gray55 {color: var(--gray-70-55);}
.txt-gray66 {color: #666666;}
.txt-grayb5 {color: #b5b5b5;}

/* white-space */
.wh-nowrap {white-space: nowrap;}

/* margin - top */
.mt-40 {margin-top: 40px;}
.mt-80 {margin-top: 80px;}
.mt-40-i {margin-top: 40px!important;}
/* margin vertical */
.my-80 {margin-top: 80px; margin-bottom: 80px;}
/* margin left */
.ml-10 {margin-left: 10px;}
/* margin right */
.mr-10 {margin-right: 10px;}
/* margin init */
.mg-0 {margin: 0!important;}
/* margin-top init */
.mt-0 {margin-top: 0!important;}

/* width style */
.w-100 {width: 100%;}
.mw-140 {max-width: 140px;}

/* height */
.mh-set {min-height: var(--mh, auto);}

/* fixed value set */
.mw-set {max-width: var(--mw-set, 400px);}

/* border */
.b {border: 1px solid black; border-radius: 12px;}
.border-d8-r {border-right: 1px solid #d8d8d8!important;} /* border-right 값 재설정 */


/* display */
.flex {display: flex;}
.flex-ac { display: flex; align-items: center;}
.flex-acjs {display: flex; align-items: center; justify-content: space-between;}
.flex-acjc {display: flex; align-items: center; justify-content: center;}
.il-flex-ac {display: inline-flex; align-items: center;}
.flex-je {display: flex; justify-content: end;}

.hidden {display: none;}


/* display */
.flex-col {display: flex; flex-direction: column;}
.flex-col-ac {display: flex; flex-direction: column; align-items: center;}

/* flex-grow */
.flex-grow-1 {flex-grow: 1;}

/* gap */
.gap-10 {gap: 10px;}
.gap-20 {gap: 20px;}
.gap-40 {gap: 40px;}

/* bg */
.bg-primary {background: var(--primary-color);}

/* table */
table {font-size: 20px;}
.table-auto {table-layout: auto;}

/* responsive w-set */
.res-wSet {width: var(--width, auto);}




