/****************************************************
	파일명	: Layout.css
	최초작성자	: 이민혁
	최초작성일	: 2024-11-23
	-------------------------------------------------
	Dec. 레이아웃 관련 CSS 정의
	-------------------------------------------------
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

.wrap {
	position: relative;
	max-width: 1280px;
	/* min-height: 768px; */
	margin: 0 auto;
}

/* header style */
header { display: flex; align-items: center; justify-content: space-between; position: relative; height: 116px; 
	/* 이민혁 임시 추가 */
	max-width: 1280px; margin: 0px auto; 
}
header::after { content: ""; position: absolute; left: -9999px; right: -9999px; bottom: 0; height: 1px; background: #d8d8d8; }
header .logo-area { display: flex;}
/* 로고가 여러개일 경우 */
header .multi-logo-area a:nth-child(1){position: relative; padding-right: 20px;}
header .multi-logo-area a + a {padding-left: 20px;}
header .multi-logo-area a:nth-child(1):after {content: ''; display: inline-block; width: 1px; height: 26px; background: var(--gray-30-d8); position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
header .link-area { display: flex; column-gap: 30px; margin-left: auto; }
header .menu-area { display: flex; column-gap: 16px; align-items: center; margin-left: 60px; }
header .menu-area .home-btn  { display: inline-block; width: 52px; height: 52px; background: url(../../images/biz2/ico/ico_home.svg) no-repeat 0 0; background-size: contain; }
header .menu-area .open-btn { width: 34px; height: 28px; background: url(../../images/biz2/header_menu.png) no-repeat 0 0; }
header .menu-area .open-btn.on { display: none; }
header .menu-area .open-btn.on ~ .menu-box { display: block; }
header .menu-area .menu-box { display: none; position: absolute; left: 0; right: 0; top: 116px; min-height: 400px; padding: 25px 0 77px; z-index: 100; }
header .menu-area .menu-box::before { content: ""; position: absolute; left: -9999px; top: 0; right: -9999px; bottom: 0; background: #fff; border-bottom: 1px solid #DDDDDD; z-index: 1; }
header .menu-area .menu-box > .close-btn { position: absolute; right: 3px; top: -74px; width: 27px; height: 27px; background: url(../../images/biz2/ic_gnb_close.png) no-repeat 0 0; }
header .menu-area .menu-box .link-group { display: flex; position: relative; z-index: 10; justify-content: space-between;}
header .menu-area .menu-box .link-group:not(.login) { justify-content: space-between; }
header .menu-area .menu-box .link-group:not(.login) li {width: 200px;}
header .menu-area .log-info {display: flex; align-items: center; gap: 8px; font-size: 14px;}
header .menu-area .log-info-txt {font-weight: 500;}
header .menu-area .menu-box .link-group li { display: flex; flex-direction: column; width: 100%; max-width: 200px;}

header .menu-area .menu-box .link-group li > .tit { display: block; font-size: 24px; line-height: 27px; font-weight: bold; color: #000; }
header .menu-area .menu-box .link-group li .link-item { display: flex; flex-direction: column; margin-top: 31px; }
header .menu-area .menu-box .link-group li .link-item a { font-size: 19px; font-weight: 500; line-height: 48px; white-space: nowrap; color: #000; }
header .menu-area .menu-box .link-group li .link-item a:hover { color: #00ADB2; text-decoration: underline; font-weight: bold; }
header .menu-area .menu-box .link-group li .link-item a.disabled-link:hover {color: darkgray;} 

/* body container */
.container { position: relative; min-height: calc(100vh - 400px); padding-bottom: 80px; padding-top: 80px; }
.container > .sub-title { display: block; margin-top: 64px; font-size: 30px; font-weight: bold; color: #191919; }
.container > .sub-title + .agree-info-area { margin-top: 32px; }

/* footer */
footer { position: relative; }
footer .fixed-banner-content { position: fixed; left: 50%; top: 210px; margin-left: 670px; z-index: 10; }
footer .fixed-banner-content .banner-area { display: flex; flex-direction: column; row-gap: 24px; width: 100px; border: 1px solid #d8d8d8; background: #fff; padding: 9px 9px 22px; border-radius: 18px; }
footer .fixed-banner-content .banner-area a { display: flex; position: relative; width: 100%; padding-top: 87px; font-size: 16px; color: #1d1d1d; text-align: center; justify-content: center; letter-spacing: -1px; font-weight: 500; line-height: 23px; }
footer .fixed-banner-content .banner-area a.guide::before { background: #f7faff url(../../images/biz2/ic_fixed_1.png) no-repeat center center; }
footer .fixed-banner-content .banner-area a.edu::before { background: #f7faff url(../../images/biz2/ic_fixed_2.png) no-repeat center center; }
footer .fixed-banner-content .banner-area a.blog::before { background: #f7faff url(../../images/biz2/ic_fixed_3.png) no-repeat center center; }
footer .fixed-banner-content .banner-area a.report::before { background: #f7faff url(../../images/biz2/ic_fixed_4.png) no-repeat center center; }
footer .fixed-banner-content .banner-area a::before { content: ""; position: absolute; left: 0; top: 0; width: 80px; height: 80px; border: 1px solid #d3dce5; border-radius: 18px; }
footer .favorite-content { display: flex; position: relative; }
footer .favorite-content::before { content: ""; position: absolute; left: -9999px; right: -9999px; top: 0; height: 1px; background: #d8d8d8; }
footer .favorite-content::after { content: ""; position: absolute; left: -9999px; right: -9999px; bottom: 0; height: 1px; background: #d8d8d8; }
footer .favorite-content .link-area:first-child .open-btn { border-left: 1px solid #d8d8d8; }
footer .favorite-content .link-area .open-btn { width: 320px; height: 56px; padding-left: 20px; border-right: 1px solid #d8d8d8; text-align: left; font-size: 17px; font-weight: 500; color: #000; background: url(../../images/biz2/ic_link_plus.png) no-repeat right 28px center; }
footer .info-content { display: flex; flex-direction: column; position: relative; padding: 42px 0 41px; }
footer .info-content::before { content: ""; position: absolute; top: 0; bottom: 0; left: -9999px; right: -9999px; background: #F2FBFC; border-top: 1px solid #D8D8D8; }
footer .info-content .ui-select { font-weight: 700; position: absolute; right: 0; top: 118px; width: 240px; height: 50px; padding: 0 20px; border-radius: 10px; border-color: #CACACA; background: #fff url(../../images/biz2/ic_arrow_big.png) no-repeat right 20px center; }
footer .info-content .footer-logo { position: relative; width: 192px; height: 51px; background: url(../../images/biz2/footer_logo.png) no-repeat 0 0; }
footer .info-content address { position: relative; margin-top: 23px; font-size: 17px; font-weight: 500; line-height: 30px; color: #000; }
footer .info-content address > span { display: flex; font-size: 17px; line-height: 27px; font-weight: 500; color: #000000; }
footer .info-content address > span.txt span + span { margin-left: 8px; }
footer .info-content address > span.tel { margin-top: 4px; }
footer .info-content address > span.tel span + span { margin-left: 7px; }
footer .info-content address > span.tel { font-weight: bold; }
footer .info-content .link-area { position: relative; margin-top: 25px; border-top: 1px solid #d8d8d8; padding: 15px 0 0 0; }
footer .info-content .link-area .link-box { display: flex; column-gap: 26px; }
footer .info-content .link-area .link-box a { font-size: 17px; font-weight: 500; line-height: 27px; color: #000; }
footer .info-content .link-area .link-box a.on { font-weight: bold; color: #003675; }
footer .info-content .link-area .copy { display: block; margin-top: 11px; font-size: 17px; font-weight: 500; line-height: 27px; color: #000; }
footer .info-content .link-area .support-box { display: flex; column-gap: 22px; position: absolute; right: 0; bottom: 0; }


